body {
  font-family: Helvetica;
}

.app {
  display: flex;
  height: 100vh;
}

.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: #141413;

  .form-search {
    padding: 25px 120px;
    border: none;
    font-size: 2.6em;
    box-shadow: none;
    background-color: #666668;
    color: rgb(239, 237, 241);
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:before {
    content: '\F002';
    position: absolute;
    top: 25px;
    left: 60px;
    font-family: FontAwesome;
    font-size: 2.6em;
    opacity: 0.4;
    color: rgb(239, 237, 241);
  }

  .movie {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9D9C9E;

    img {
      height: 40vh;
    }

  }
}

.right-scene {
  flex: 0 0 40%;
  background-color: #272625;
  overflow: scroll;
}
